
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=giorgio-generater
DB_USERNAME=root
DB_PASSWORD=


# java project setting
JAVA_DEFAULT_PACKAGE=com.giorgio.test
JAVA_SOURCE_PATH=src/main/java

# time field
CREATED_TIME_FIELD=created_at
UPDATED_TIME_FIELD=updated_at